%center
  .home
    %div{:style=>"margin-top: 20px;"}
      %div.pull-left{:style=>"text-align: left; width: 370px;"}
        %div.title= t("home.title_job")
        %div.cont Nguyễn Cảnh Sơn 
        %div.title= t("home.subject")
        %div.cont Sản Khoa
        %div.title= t("home.work_at")
        %div.cont BV.Tỉnh Bà Rịa-Vũng Tàu
        %div.title= t("home.address")
        %div.cont 156 Nguyễn Thanh Đằng, phường Phước Hiệp, Tp Bà Rịa, Bà Rịa-Vũng Tàu
      %div.span4.pull-right
        = image_tag("hoa.jpg")
