.fields{:style=>"width: 440px;"}
  .pull-left
    = f.input :kind, :collection => Examine::TYPES.invert, include_blank: false, :input_html => {:class => "collection"}
    = f.input :price, :disabled => true, input_html: {:id => "patient_examines_price_#{rand(3434)}"}
    = #f.input :price, as: :hidden, input_html: {:id => "patient_examines_price_#{rand(4587)}"}
  .pull-left= link_to_remove_fields image_tag("remove.png"), f
  .clearfix